body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  background-color: #78a3ed;
  cursor: default;
  /*background-color: black;*/
}

.searchContainer * {
  border-style: hidden;
  border-radius: 8px;
  margin-right: 5px;
  height: 20px;
}

.searchContainer input {
  border-color: #bcd69c;
  width: 250px;
  /*width: 100%;*/
}

.searchContainer button {
  background-color: #c2e595;
}

.searchContainer button:hover {
  background-color: #839b63;
}

.listForm {
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

.listForm > * {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border-style: hidden;
}

.listForm input:last-child {
  background-color: #c2e595;
}

.listForm input:last-child:hover {
  background-color: #839b63;
}

#formSubmit {
  width: auto;
}

#currentItineraryEntryTitles {
  font-weight: 900;
}


.entryListContainer {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.currentItineraryList {
  background-color: #a4c17d;
  margin: 30px;
  border-radius: 10pt;
}

.entry {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 100px);
  padding-left: 20px;
  padding-right: 20px;
}

.entry * {
  width: 100%;
}

.entry img {
  width: auto;
}

#currentItineraryEntryTitles p:last-child {
  width: auto;
}

.redX {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  cursor: pointer;
}

ng-map {
  height: 400px;
  /*box-shadow: 0px 6px 6px #a4c17d;*/
  box-shadow: 0px 6px 6px #4b6693;
}

nav span:first-child {
  margin: 15px;
}

nav {
  /*height: 100%;*/
  font-weight: 900;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  background-color: #a4c17d;
  /*background-color: grey;*/
  box-shadow: 0px 3px 0px #64774b;
  margin-bottom: 3px;
}

nav div {
  /*margin: 0;*/
  padding: 15px;
}

nav span {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
}

nav img {
  height: 50px;
  margin-left: 10px;
  /*margin: 0;*/
  /*margin-right: 15px;*/
}

nav div:hover {
  cursor: default;
  background-color: #86996e;
}



@media all and (min-width:800px) {
  nav img {
    display: show;
  }
  nav {
    justify-content: space-between;
  }
}

@media all and (max-width:800px) {
  nav img {
    display: none;
  }
  nav {
    justify-content: space-around;
  }
}




