<br></br>
<div class=currentItineraryList>

  <form class="listForm" ng-submit="currentItineraryList.addMarker(place, date, time, desc)">
    <input ng-model="place">Your Destination</input>
    <input ng-model="date" type="date">When will you be there?</input>
    <input ng-model="time" type="time">What time will you be there?</input>
    <textarea ng-model="desc">Give us a brief description of what you will be doing that day.</textarea>
    <input type="submit" value="Submit"></input>
  </form>

  <br></br>
  <div class="entryListContainer">
  <current-itinerary-entry
    ng-repeat="place in currentItineraryList.locations track by $index"
    place="currentItineraryList.locations[$index]"
  ></current-itinerary-entry>
  </div>
</div>