<div class="currentItineraryList">

  <div class="entryListContainer">
    <div id="currentItineraryEntryTitles" class="entry">
      <p>Location</p>
      <p>Date</p>
      <p>Time</p>
      <p>Remove</p>
    </div>
    <current-itinerary-entry
      ng-repeat="place in currentItineraryList.locations track by $index"
      place="currentItineraryList.locations[$index]"
      remove-location="currentItineraryList.removeLocation"
    ></current-itinerary-entry>

  </div>

  <form class="listForm" ng-submit="currentItineraryList.addMarker(place, date, time, desc)">
    <input ng-model="place" type="text" placeholder="{{ currentItineraryList.mapCenter }}"></input>
    <input ng-model="date" type="date"></input>
    <input ng-model="time" type="time"></input>
    <input id="formSubmit" type="submit" value="Submit"></input>
  </form>



</div>