<div class="currentItineraryList">

  <div class="entryListContainer">
    <div id="currentItineraryEntryTitles" class="entryRow">
      <p>Itinerary</p>
      <p>Start Date</p>
      <p>End Date</p>
      <p>Remove</p>
    </div>

    <my-itineraries-entry
      ng-repeat="itinerary in app.itineraries track by $index"
      app-click="app.switch"
      itinerary="app.itineraries[$index]"
      remove-itinerary="app.removeItinerary"
    ></my-itineraries-entry>

  </div>

  <form class="listForm" ng-submit="app.addItinerary(name, start, end)">
    <input ng-model="name" type="text" placeholder="Itinerary Name"></input>
    <input ng-model="start" type="date"></input>
    <input ng-model="end" type="date"></input>
    <input id="formSubmit" type="submit" value="Submit"></input>
  </form>
</div>