<div class="current">

  <div class="mapContainer">
    <ng-map
      center="{{app.mapCenter}}"
      zoom="13"
      map-type-id="MapTypeId.{{app.mapType}}">
      <marker
        draggable="true"
        on-dragend="app.getCurrentLocation()"
        animation="DROP"
        position="{{app.mapCenter}}">
      </marker>

      <marker
        ng-repeat="icon in app.markers"
        position="{{ icon.location }}">
      </marker>

      <directions
         draggable="true"
         panel="directions-panel"
         travel-mode="'DRIVING'"
         origin="{{ app.start }}"
         destination="{{ app.end }}">
      </directions>

    </ng-map>
  </div>

  <div class="listContainer">
    <current-itinerary-list
      remove-location="app.removeLocation"
      locations="app.markers"
      viewport="app.viewport"
      add-marker="app.addMarker"
      format-date="app.formatDate"
      format-date-time="app.formatDateTime"
      map-center="app.mapCenter">
    </current-itinerary-list>
  </div>

</div>